
#archive-concours img{
  height: 100%;
  object-fit: cover;
}

#archive-concours p.sous-titre{
  font-size: 1.6rem;
  margin-bottom: 70px;
}

#archive-concours .main img{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#archive-concours .main .texte{
  box-shadow: 2px 2px 5px #00000029;
  padding: 55px 40px 55px 40px;
  background-color: $c_white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#archive-concours .main .texte p{
  margin-bottom: 30px;
}

#archive-concours .texte a.btn-plus{
  font-weight: bold;
  box-shadow: 2px 2px 2px #00000029;
}

#archive-concours .texte a.btn-plus::before{
  background-color: $c_orange;
}

#archive-concours .texte a.btn-plus::after{
  font-weight: normal;
}

#archive-concours .min img{
  height: 300px;
  object-fit: cover;
  background-color: $c_white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#archive-concours .min .texte{
  box-shadow: 2px 2px 5px #00000029;
  padding: 20px;
  background-color: $c_white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#single-concours img{
  height: 480px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 2px 2px 4px #00000029;
}

#single-concours li{
  list-style-type: disc;
  margin-bottom: 20px;
}
