footer{
  margin: 0;
  position: relative;
}

div.waves{
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
}

div.background{
  width: 100%;
  height: calc(100% - 200px);
  background-color: $c_black;
  z-index: -1;
  bottom: 0;
  position: absolute;
}

footer h6{
  margin-bottom: 25px;
}

footer li{
  margin-bottom: 15px;
}

footer .avantages img{
  margin: 0px 0px 20px 15px;
}



footer .menu-social i{
  font-size: 1.8rem;
}

footer .menu-social a{
  margin-right: 15px;
}

footer .menu-social a:last-child{
  margin-right: 0px;
}



footer .logo{
  width: auto;
  max-height: 50px;
  margin-bottom: 20px;
}

footer h6{
  font-size: 1.6rem;
  font-weight: bold;
}

footer .avantages img{
  width: 70px;
}

footer #infolettre{
  padding: 0;
  margin-bottom: 100px;
  border: 0.5px solid $c_lightgrey;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 20px;
  background-color: $c_white;
}

footer #infolettre p, footer #infolettre h5{
  color: #000;
  padding: 30px 0px;
}

footer #infolettre h5{
  border-bottom: 0.5px solid $c_lightgrey;
}

footer #infolettre .texte{
  padding: 20px 100px 50px 100px;
}




footer #menu-footer{
  padding: 100px 0px;
}

footer .avantages .texte{
  padding-left: 15px;
}

footer a, footer p, footer h6, footer h5{
  color: $c_white;
}
